.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background: #061D25;
  }  
.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 12px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
  }
.footer a:first-child {
    border-left: 1px solid #70726F;
  }
.footer a:hover {
    color: white;
  }
.text-muted {
    padding-right: 25px;
}